<header>
    <h1>About Page</h1>
  </header>
  <main>
    <section>
      <h2>Welcome to Shopping-List Todo App</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac ultricies est. Fusce malesuada neque eget tincidunt tincidunt. Nulla consequat tellus a enim semper, in fringilla tortor dapibus. Mauris nec tortor tincidunt, finibus risus sed, pulvinar felis. Duis viverra nisl eget mauris ultrices bibendum.</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Himanku Gogoi. All rights reserved.</p>
  </footer>
