<div class="flex">
    <div>
        <h4 [ngClass]="{ 'strike': !todo.active }" class="title">{{ todo.title }}</h4>
        <div class="item" >
            <input
            type="checkbox"
            id="todo{{i}}"
            (click)="onCheckboxClick(todo)"
            [checked]="!todo.active"
            />
            <label for="todo{{i}}">Mark as Completed</label>
        </div>
    </div>
    <div>
        <button class="btn-delete" (click)="onClick(todo)">Delete</button>
    </div>
  </div>
  